body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.navbar{
    height: 60px;
    background-color: blueviolet;
    color: whitesmoke;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li {
    cursor: pointer;
    margin-top: 20px;
}

.arena {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 550px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: antiquewhite;
}

.element {
    width: 30px;
    margin-left: 2px;
    background-color: blueviolet;
}